.hidden-sml {
  @media(min-width: 576px) {
    display: none;
  }
}

.full-width {
  width: 100%;
}

.flush-top {
  margin-top: 0;
}

.padding-none {
  padding: 0;
}

.margin-none {
  margin: 0;
}

.room-bottom {
  margin-bottom: 1rem;
}

.sm-room-bottom {
  @media(max-width: 767px) {
    margin-bottom: 1rem;
  }
}

.sm-room-none {
  @media(max-width: 767px) {
    margin-bottom: 0;
  }
}
